body,html {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan', cursive;
}
textarea {
    resize: none;
}
.nav-icon{
    margin-left: 10px;
}
.cnav{
    display: grid;
    grid-template-columns: auto auto;

}
.cnav p {
    margin: auto;
    font-size: 1.3em;
}
.nav-icon img{
    width: inherit;
}
.foot{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    right: 100px;
}

.e{
    display: block;
    width: 100%;
    text-align: center;
}
.e form{
    display: inline-block;
}
.e .p{
    display: inline;
}
.e .r{
    margin-left: 0%;
}


.e button{
    border: 8px inset gold;
    box-shadow: 7px -15px 10px black;
}


.g{
    position: absolute;
    z-index: -2;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr
}
.pageup{
    position: fixed;
    bottom:0;
}
