
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.custom-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-user{
    padding: 1em;
    border-right: 1px solid rgba(0,0,0,.125);
}
.card-user h5{
    font-size: 1.3em;
}
.card-user h5 span{
    font-size: 1.5em;
    font-family: 'Luckiest Guy', cursive;
}
.card-user em{
    font-size: 0.8em;
}

.card-body {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
}
